.battery-stats {
    scale trough {
        // background-color: #4e4e4e;
        // border-radius: 10px;
        min-height: 8px;
        min-width: 10px;

        highlight {
            background-color: #fff59d;
            // border-radius: 10px;
        }
    }
    scale.battery-bar {
        trough highlight {
            background-color: #fff59d;
        }

        &.low trough highlight {
            background-color: #f58a2c;
        }

        &.critical trough highlight {
            background-color: #ff0000;
        }

        &.Charging trough highlight {
            background-color: #8bc344;
        }
    }
}
